@model surveyIntroPS.Models.Que

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Que</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ques)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ques)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Op1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Op1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Op2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Op2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Op3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Op3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Op4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Op4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ans)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
